<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href='/auth/logout'>logout</a>
                </li>
                <li>
                    <a href='/auth/login'>Login</a>
                </li>
                <li>
                    <a href='/'>HomePage</a>
                </li>
            </ul>
        </nav>
        <header>
            <h1>
                Login using
            </h1>
        </header>
        <main>
            <a class="google-btn" href='/auth/google'>Google+</a>
        </main>
    </body>
</html>